@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 3%;
    grid-template-areas: 
    "one one three"
    "two four four";
}

#grid-one{
    grid-area: one;
}
#grid-two{
    grid-area: two;
}
#grid-three{
    grid-area: three;
}
#grid-four{
    grid-area: four;
}

#inflow1{
    animation: inflow 15s 1s infinite ease-in-out;
}
#inflow2{
    animation: inflow 18s 3s infinite linear;
}

@keyframes inflow {
    from{scale: 90%;}
    to{scale: 100%;}
}
#time{
    animation: time 4s 2s 2 linear;
}

@keyframes time {
    0%{padding-left: 0px;}
    25%{padding-left: 40;}
    50%{padding-left: 0px;}
    75%{padding-left: 40px;}
    100%{padding-left: 0px;}
}